
{% extends "base.html" %}

{% block title%}
Experts
{% endblock title%}

{% block content %}

{% load crispy_forms_tags %}

{% load bootstrap5 %}

<p><a href="{% url 'experts:expert-list' %}"><i class="fa-solid fa-users"></i> Experts List</a></p> 
<div class="container white">
    <div class="row my-5">
        <div class="col-md-12">
            <form method="post" class="form white">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button type="submit" class="btn btn-primary">Submit</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>

{% endblock %}