{% extends "base_content.html" %}
{% block title %}

{% load static %}

{% endblock title%}

{% block content %}
<head>
   <link rel="stylesheet" href="{% static 'css/card_hover.css' %}">

</head>

<section class="" style="width:100%">
  <div class="p-3 mb-2 bg-info text-blue " >
    <!--h2 class="text-4xl text-gray800"></h2-->
    <form class="d-flex" role="search" action="{% url 'deals:deal-search' %}" method='GET' enctype="">
        <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
      <hr class="border-primary border-3 opacity-75">
    </div>
</section >


    <section style="width:100%">
    <div class="container-fluid">
      <div class="row">
        {% if object_list %}
        {% for deal in object_list %}
        <div class="col-md-6">
          <div class="card mb-4 box-shadow">
            
            <!--img src="{% static 'images/user-solid.svg' %}" style="width:10 height=10"-->
            <!--img class="card-img-top" src="{% static 'images/technic.jpeg' %}" alt="{{ consultant.user }}"-->
            <div class="card-body card-3 ">
              <p class="list"><i>Title:</i> {{ deal.deal_title }}<br>
               <i>Dealer name:</i> <span class="about"> </span> {{ deal.dealer }} <br> 
                <i>Dealer email:</i> <span class="about"><i class="fa-sharp fa-solid fa-at"></i></span> {{ deal.email }} </p>
              <p class="list"><span class="about"> </span> {{ deal.deal_type }}</p>
              
              <p class="list"><i></i> {{ deal.descriptions|truncatewords:'50' }}</p>
              <p>  <small class="text-muted"><i><span class="about">Date created: </i>{{ deal.created_on|date }}</span></small></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {% if deal. == request.user %}
              <p><button type="button" class="btn btn-secondary mx-2" onclick="location.href='{% url 'deals:deal-update' deal.pk %}'"><i class="fa-sharp fa-solid fa-pen-to-square"></i> Edit</button></p>
              {% endif %} 
              <p><button type="button" class="btn btn-secondary mx-2" onclick="location.href='{% url 'deals:deal-detail' deal.pk %}'"><i class="fa-sharp fa-solid fa-circle-info"></i> More details </p>
              
              {% if user.is_admin %}
              <p><button type="button" class="btn btn-danger" onclick="location.href='{% url 'deals:deal-delete' deal.pk %}'"><i class="fa-sharp fa-solid fa-trash-can"></i> Delete deal </p-->
                {% endif %}

               </div>
                </div>
            </div>
          </div>
        </div>
        {% endfor %}

        {% else %}
        <p> You have not posted any deals available for the time being</p>
        {% endif %}
   </div>
    </div>
  </section>


    {% block pagination %}
      {% if is_paginated %}

      <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
          <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous </a></li>
          {% endif %}
          <span class="page-current">
            <li class="page-item"><a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
        </span>
        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
        </ul>
      </nav>
      {% endif %}
      {% endblock %}
        </div>

    

{% endblock content %}