{% extends "base_content.html" %}
{% block title %}
{% load static %}
{% endblock title%}

{% block content %}

<head>
  <!--link rel="stylesheet" href="{% static 'css/card_hover.css' %}"-->
  <style>
    /* Add some spacing between the panels on smaller screens */
    @media (max-width: 768px) {
        .content-panel {
            margin-bottom: 20px;
        }
      }

  
.social-circle {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px
}

.card:hover{
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

p {
  color:#0A2647
}
  </style>
</head>
<section class="py-3">
  <div class="p-3 mb-2 bg-info text-blue search-column" >
    <h2 class="text-4xl text-gray800"></h2>
    <form class="d-flex" role="search" action="{% url 'profiles:expert-profile-search' %}" method='GET' enctype="">
        <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
      <hr class="border-primary border-3 opacity-75">
    </div>
</section>
 
<section class="" style="width:100%">
    <div class="container-fluid col-container">
      <div class="row">
        {% if object_list %}
        {% for expert in object_list %}
        <div class="col-md-9 col">
          <div class="card mb-4 box-shadow">
            
            <!--img src="{% static 'images/user-solid.svg' %}" style="width:10 height=10"-->
            <!--img class="card-img-top" src="{% static 'images/technic.jpeg' %}" alt="{{ consultant.user }}"-->
            <div class="card-body card-3">
              <img src="{{expert.prof_pic.url}}" alt="Smiley face" width="100%" height="250" class="img-responsive">
              <p class="list blog"><i>Name:</i> {{ expert.first_name }} {{ expert.last_name }}</br>
              <span class="about"><i class="fa-solid fa-user"></span></i> {{ expert.company_name }} </br>
              <span class="about"> <i class="fa-sharp fa-solid fa-at"></i></span> {{ expert.email }}<br/>
              
              
              <i></i> {{ expert.bio|truncatewords:'50'|safe }}</p>
              <small class="text-muted"><i><span class="about">Date created: </i>{{ expert.created_on|date }}</span></small></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {% if expert.user == request.user %} 
                   {% endif %}
              <p><button type="button" class="btn btn-secondary mx-2" onclick="location.href='{% url 'profiles:expert-profile-detail' expert.slug %}'"> Profile Details </p>


               </div>
                </div>
            </div>
          </div>
        </div>
        {% endfor %}

        {% else %}
        <p> No profiles available for the time being</p>
        {% endif %}
   </div>
    </div>

  </section>
    {% block pagination %}
      {% if is_paginated %}

      <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
          <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous </a></li>
          {% endif %}
          <span class="page-current">
            <li class="page-item"><a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
        </span>
        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
        </ul>
      </nav>
      {% endif %}
      {% endblock %}
        </div>

      


{% endblock content %}