{% extends "base_content.html" %}
{% block title %}

{% endblock title%}

{% block content %}

<p class="white"><a href="{% url 'profiles:expert-profile-list' %}">Profile list</a></p> 

<h3 class="white">User: {{profile.username}}</h3>
<hr>

        <p class="white">Expert Name: {{profile.first_name}} {{profile.last_name}} || email: {{profile.email}}
        <br>Conutry: {{profile.country}}
        <br>City: {{profile.city}}
        <br>Company Name: {{profile.company_name}} 
        

<hr />

<!--button type="button" class="btn btn-secondary" onclick="location.href='{% url 'profiles:expert-profile-update' expert.pk %}'">Edit</button-->
<button type="button" class="btn btn-danger" onclick="location.href=''">Delete</button>
<button type="button" class="btn btn-dark" onclick="location.href='{% url 'profiles:expert-profile-list' %}'">Cancel</button>

<h2>Expert</h2>
{% endblock %}