{% extends "base.html" %}

{% block content %}
   <p class="white"><a href="{% url 'trainingapplications:training-app-list' %}">Trainings list</a></p> 

    <h3 class="white">Training title: {{applications.email}}</h3>
    <hr>
    
    <div class="card-body">
        <p class="white"><i><b>Training Title:</b></i> {{ trainings.training_title}}
          <br/><br/><i><b>Teacher:</b></i> {{ trainings.teacher }}
          <br/><br/><span class="about"><i class="fa-sharp fa-solid fa-at"></i> {{ trainings.email }} 
            <br/><br/> </span><b>Training Type:</b> {{ trainings.training_type }}
            <br/><br/> <b><i>Teacher's Biographie:</i></b> <br/>{{ trainings.teacher_bio }}
            <br/><br/> <b><i>Training Description:</i></b>  <br/>{{ trainings.description }}
            <br/><br/> <b><i>Training Cost ($):</i></b>  {{ trainings.cost }}</p>

            <p class="white"><i><span class="about">Start From : </i>{{ trainings.start_date|date }}  </span>
            <i><span class="about">To: </i>{{ trainings.end_date|date }}  </span></p>
            <p class="white"><i><span class="about">Time From: </i>{{ trainings.start_time|time }}  </span>
           <i><span class="about">To: </i>{{ trainings.end_time|time }}  </span></p>
    
<hr />
{% if user.is_admin %}
<button type="button" class="btn btn-secondary mx-2" onclick="location.href='{% url 'trainingapplications:training-app-update' trainings.pk %}'">Edit</button>
<button type="button" class="btn btn-dark" onclick="location.href='{% url 'trainingapplications:training-app-list' %}'">Cancel</button>
{% endif %}

{% include 'footer.html' %}
{% endblock %}