{% extends "base_content.html" %}
{% block title %}

{% load static %}

{% endblock title %}

{% block content %}
<head>
  <!--link rel="stylesheet" href="{% static 'css/card_hover.css' %}"-->
  <style>
    .card:hover{
      transform: scale(1.02);
      box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
  </style>
</head>
<section class="" style="width:100%">
  <div class="p-3 mb-2 bg-info text-blue " >
    <!--h2 class="text-4xl text-gray800"></h2-->
    <form class="d-flex" role="search" action="{% url 'product_deals:product-deal-search' %}" method='GET' enctype="">
        <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
      <hr class="border-primary border-3 opacity-75">
    </div>
</section >

<section class="py-3" style="width:100%">
    <div class="container-fluid col-container">
      <div class="row">
        <div class="">
      </div>
        {% if object_list %}
        {% for product_deal in object_list %}

        <div class="col-md-6 col">
          <div class="card mb-4 box-shadow">
            <div class="card-body card-3 ">


            {% if product_deal.image_url %}
            <img src="{{ product_deal.image_url }}" class="card-img-top rounded" alt="{{ product_deal.deal_title }}" style="width: 90%; height: 200px;">
                {% else %}
                    <img src="{% static 'deals/deal.jpeg' %}" class="card-img-top" alt="Default Image" style="width: 90%; height: 150px;">
                {% endif %}<br>


              <p class="list blog"><span class="about"></span><b>Product Category:</b> {{ product_deal.product_category }} </br>
                <b>Deal:</b> {{ product_deal.product_deal_title }} - <span class="about2">{{product_deal.opportunity_type}}</span></br>
              
              <span class="about"> </span><b>Contact email:</b> {{ product_deal.email }}</p>
              
              <p class="list blog"><b>Deal description</b></br> {{ product_deal.product_description|truncatewords:'50'|safe }} </br></br>
              <small  class="text-muted"><b>Date Posted: </b> {{ product_deal.announcement_date|date }}</small></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  {% if product_deal.user == request.user or user.is_admin %}
              <p><button type="button" class="btn btn-secondary mx-2" onclick="location.href='{% url 'product_deals:product-deal-update' product_deal.pk %}'"><i class="fa-sharp fa-solid fa-pen-to-square"></i> Update</button></p>
              {% endif %} 
              <p><button type="button" class="btn btn-secondary mx-2" onclick="location.href='{% url 'product_deals:product-deal-detail' product_deal.pk %}'"><i class="fa-sharp fa-solid fa-circle-info"></i> More Details </p>
              
              {% if user.is_admin %}
               <p><button type="button" class="btn btn-danger" onclick="location.href='{% url 'product_deals:product-deal-delete' product_deal.pk %}'"><i class="fa-sharp fa-solid fa-trash-can"></i> Delete blog </p-->
                {% endif %}
               
               </div>
                </div>
            </div>
          </div>
        </div>
        {% endfor %}

        {% else %}
        <p> No deals available for the time being</p>
        {% endif %}
   </div>
    </div>

  </section>
    {% block pagination %}
      {% if is_paginated %}

      <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
          <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous </a></li>
          {% endif %}
          <span class="page-current">
            <li class="page-item"><a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
        </span>
        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
        </ul>
      </nav>
      {% endif %}
      {% endblock %}
        </div>

      

{% endblock content %}