{% extends "base.html" %}

{% block title%}

{% endblock title%}

{% block content %}

{% load crispy_forms_tags %}

{% load bootstrap5 %}

<div id="sector-form">
    <p><a href="{% url 'industries:sector-list' %}">Go Back to Sector list</a></p>
<!--
{% include 'industries/partials/sector_create.html' %}


<button class="btn btn-success" 
hx-get = "{% url 'industries:sector-create' %}" 
hx-target="#sector-form"
hx-swap="beforeend"> + Add Sector</button>

<ul id="sector-list">
{% for sector in sectors %}
{% include 'industries/partials/sector.html' %}
{% endfor %}
</ul>

            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button type="submit" class="btn btn-primary">Submit</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
</div>
<!--/div-->
<!--{% include 'footer.html' %}>
</div-->

<form method="post" class="form" enctype="multipart/form-data">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
  <button type="submit" class="btn btn-primary">Submit</button>
  {% endbuttons %}
</form>

{% endblock content %}