*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', Sans-serif;
    box-sizing: border-box;
    background-color:#006699 ;
   

}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url();
    background-color: #006699;
  
}

.navtop {
    display: flex;
    color:#006699;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 8%;
    padding-right: 8%;
}

.collapse{
    background-color: white;
    color:#006699
}



.logo {
    color: #006699;
    font-size: 35px;
    font-style: bold;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    align-items: left;
    padding-right: 20px;
    align-items: left;


}

span {
    color: #b30000;

}


.about {
    color: #00e6e6;
    font-size: 20px;

}

.listing{
    color: #b30000
}


.nav-item{
    list-style-type: none;
    display: inline-white;
    padding: 10px, 25px;
    background-color: white;
}

.nav-link {
    color:#006699;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    background-color: white;
}

.nav-link:hover {
    color: #CC0000;
    transition: .4s;
}

.robust {
    color: white;
    font-size: 25px;
    margin: 20px 0px 20px;
    margin-bottom: 50px ;
    letter-spacing: 2px;
}
h1 {
    color: #0a2647;;
    font-size: 35px;
    margin: 20px 0px 20px;
    margin-bottom: 50px ;
    letter-spacing: 2px;

}

h2 {
    color: #0a2647;;
    font-size: 30px;
    margin: 20px 0px 20px;
    margin-bottom: 50px ;
    letter-spacing: 2px;

}

h3 {
    color: #0a2647;;
    font-size: 25px;
    margin: 20px 0px 20px;
    margin-bottom: 50px ;
    letter-spacing: 2px;

}

h4 {
    color: #0a2647;;
    font-size: 20px;
    margin: 20px 0px 20px;
    margin-bottom: 50px ;
    letter-spacing: 2px;

}
h5 {
    color: #0a2647;;
    font-size: 18px;
    margin: 20px 0px 20px;
    margin-bottom: 50px ;
    letter-spacing: 2px;

}

section {
    background-color:#CC0000  ;    
}

.text{
    color:#0a2647;;
    font-style:normal;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
p{
    align-items: center;
    font-size: 14px;
    color: #0a2647;
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-color: #006699;
}

a {
    color:#0a2647;
}

a:hover{
    color: #00e6e6
}

th{
    color: #0a2647;
}

td{
    color: #0a2647;
}

.list{
    background-color: #006699;
}

div{
    background-color: #006699;
}
.list{
    color: white;
    font-size: 10;
    font-family: sans-serif;
}

.top_message{
    background-color: #CCEEFF;
    color:#006699
}

.about2 {
    color: #0a2647;
    font-size: 20px;

}

.social-circle {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px
}

