{% extends "base.html" %}



{% block content %}

<div class="container text-center">
    <div class="row justify-content-start">
      <div class="col-6">
        <div class="shadow-sm p-3 mb-5 bg-body rounded" style="float:left; color: #246864">
            <h1>Contact USA</h1>
            <br>
            <p>
                Address - 13473 Bedell Street <br>
                           Springfileds Gardens <br>
                          NY 11434 <br>
                Phone +1 929-391-6710 <br>
            </p>
        
            <h1>Contact TOGO / AFRICA</h1>
            <br>
            <p>
                Address - Adetikope  <br>
                           PIA <br>
                          
                Phone +228 9001 0000 <br>
            </p>

        </div>
      </div>
      <div class="col-6">
        <div class="shadow-sm p-3 mb-5 bg-body rounded">
            <h1>Please complete the below form</h1>
            
        </div>
      </div>
    </div>

{% endblock %}