{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block content %}
<body>
<head>
    <!--link rel="stylesheet" href="{% static 'css/style_main.css' %}"-->
    <link rel="stylesheet" href="{% static 'css/card_hover.css' %}">
    <style>
      * {
        box-sizing: border-box;
      }
      body {
        font-family: Arial;
        font-size: 17px;
      }
      .container {
        position: relative;
        max-width: 100%;
        height: 0px;
        margin: 0 auto;
      }
      .container img {vertical-align: middle;}
      .container .content {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.4); /* Black background with 0.5 opacity */
        color: #f1f1f1;
        width: 100%;
        padding: 10px;
      }

      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }

      
.stats {
  color: #3D30A2 ;
  font-size: 20px;
}

.stats1 {
  color: #362FD9;
  font-size: 20px;
}
      </style>
  </head> 
  
  <section  style="width:100%" class="rounded ">
    <div class="row bottom-section">
      <div class="col-md-12 ">
        <div class="bottom-image home-image">
          <img src="{% static 'images/forest.jpeg' %}" class="bottom-image" alt="Bottom Image">
          <div class="bottom-message content">Networking Opportunities to Deal With Partners Across the World<br/><br/>
            <h3 class="text-justify my-3 "><span>One platform, one objective <br/>
              Create Your Perfect Network <br/>
              With Businesses and experts <br/>
            In All Domains and Industries</span></h3>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section style="width:100%" class="section_color1 py-3 my-2 rounded text-white">
    <div class="container-fluid" >
      <h3 style="align-center"> Our Available Services Deals </h3>
      <div class="row">
        {% if deals %}
        {% for deal in deals %}
        <div class="col-md-6 my-2 ">
          <div class="card mb-4 box-shadow">
            <div class="card-body card-3  ">
              <!--p class="list"><img src="{% static 'images/forest.jpeg' %}" alt="Smiley face" width="90%" height="250" class="float-start"-->
               <!--img src="{{ deal.deal_picture.url}}" alt="testing"  class="img-responsive img-fluid rounded my-3 center" style="width: 95%; height: 150px;"-->
              <p class="list"><i><b>Deal Category:</b></i> {{ deal.deal_category }}<br>
               <i><b>Dealer Type:</b></i> <span class="about"> </span> {{ deal.deal_type }} <br> 
                <i><b>Location:</b></i>  {{ deal.deal_country }}, {{deal.deal_city }} 
              
              <p class="list"><i></i> {{ deal.descriptions|truncatewords:'50' }}</p>
              <p>  <small class="text-muted"><i>Date created: </i>{{ deal.created_on|date }}</small></p>
            </div>
           
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="card-body card-3  ">
          <p> No deals to show for now</p>
        </div>
        {% endif %}
   </div>
   <div class="">
    {% if user.is_authenticated %}
    <button class="btn btnfont btnbg mb-1" onclick="location.href='{% url 'deals:deal-list' %}'"> <span class="about"><i class="fa-solid fa-magnifying-glass"></i> Search for New Deals  </span></button>
  {% else%}
  <button type="button" class="btn btnfont btnbg mx-2" onclick="location.href='{% url 'accounts:login' %}'"><span class="about"><i class="fa-solid fa-magnifying-glass"></i> Search for New Deals  </span></button>

  </p>   
  {% endif%}    
       
     </div>
      </div>
   </div>
    </div>
  </section>


  <section style="width:100%" class="section_color4 py-3 my-2 rounded text-white">
    <div class="container-fluid" >
      <h3 style="align-center"> Our Available Products Deals </h3>
      <div class="row">
        {% if product_deals %} <!-- for class based  we use data.product since the is the name of aour queryset-->
        {% for deal in product_deals %}
        <div class="col-md-6 my-2 ">
          <div class="card mb-4 box-shadow">
            <div class="card-body card-3  ">
              <!--p class="list"><img src="{% static 'images/forest.jpeg' %}" alt="Smiley face" width="90%" height="250" class="float-start"-->
               <!--img src="{{ deal.product_image.url}}" alt="testing"  class="img-responsive img-fluid rounded my-3 center" style="width: 95%; height: 150px;"-->
              <p class="list"><i>Title:</i> {{ deal.product_name }}<br>
               <i>Dealer name:</i> <span class="about"> </span> {{ deal.dealer }} <br> 
                <i>Dealer email:</i> <span class="about"><i class="fa-sharp fa-solid fa-at"></i></span> {{ deal.email }} 
              <br>Location: {{ deal.country }}, {{deal.city}}
              <p class="list"><i></i> {{ deal.product_description|truncatewords:'25' }}</p>
              <p>  <small class="text-muted"><i>Date created: </i>{{ deal.created_on|date }}</small></p>
            </div>
           
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="card-body card-3  ">
          <p> No deals to show for now</p>
        </div>
        {% endif %}
   </div>
   <div class="">
    {% if user.is_authenticated %}
    <button class="btn btnfont btnbg mb-1 mx-2" onclick="location.href='{% url 'product_deals:product-deal-list' %}'"> <span class="about"><i class="fa-solid fa-magnifying-glass"></i> Search for New Deals  </span></button>
  {% else%}
  <button type="button" class="btn btnfont btnbg mx-2" onclick="location.href='{% url 'accounts:login' %}'"><span class="about"><i class="fa-solid fa-magnifying-glass"></i> Search for New Deals  </span></button>

  </p>   
  {% endif%}    
       
     </div>
      </div>
   </div>
    </div>
  </section>


  <section style="width:100%" class="section_color2 py-3 rounded">
    <div class="container-fluid">
      <h3 style="align-center" class="text-white"> Blogs </h3>
      <div class="row">
        {% if blogs %}
        {% for blog in blogs %} 
        <div class="col-md-6 my-2">
          <div class="card mb-4 box-shadow">
            <div class="card-body card-3 ">
              <p class="img-fluid rounded-start"><img src="{{blog.blog_image.url}}" alt="Smiley face" class="img-responsive img-fluid rounded my-3 center" style="width: 95%; height: 150px;">
              <h4 class="list blog">{{ blog.categories }} </br> {{ blog.title|truncatewords:'4' }}</h4>
              <p class=" list blog">{{ blog.content|truncatewords:'20'|safe }}</p>
              <p>  <small class="text-muted"><i>Date created: </i>{{ blog.created_on|date }}</small></p>
            </div>
          </div>
        </div>
        
       

    {% endfor %}

    {% else %}
    <div class="card-body card-3  ">
      <p class="white"> No blogs available at this time, please check back later</p>
    </div>
    {% endif %}

   </div>
   <div>

    {% if user.is_authenticated %}
    <p> <button class="btn btnfont btnbg mb-1" onclick="location.href='{% url 'blogs:blog-list' %}'"> <span class="about"><i class="fa-solid fa-blog mx-3"></i> Read Blogs </span> </button>      
     {% else%}
   <button type="button" class="btn btnfont btnbg mx-2" onclick="location.href='{% url 'accounts:login' %}'"><span class="about"><i class="fa-solid fa-magnifying-glass"></i> Read Blogs</span>  </button></p>   
   {% endif%} 

     </div>
      </div>
   </div>
    </div>
  </section>


  <section style="width:100%" class="section_color3 py-3 my-2">
    <div class="container-fluid">
      <h4 style="align-center" class="text-white"> Training Schedule </h4>
      <div class="row">
      {% if trainings %} 
        {% for training in trainings %}
        <div class="col-md-6 my-2">
          <div class="card mb-4 box-shadow">
            <div class="card-body card-3 ">
              <p class="list"><i><b>Category of Training:</b></i>{{ training.domain}}  <br/> 
                <b><i>Training Title: </i></b>{{ training.training_title}} </p>
              <p class="list"><i><b>Teacher:</b></i> {{ training.teacher }} - {{ training.email }}</p>
              <!--p class="list"><span class="about"><i class="fa-sharp fa-solid fa-at"></i> {{ training.email }} </p-->
              <p><span class="about"> </span><b>Training Type:</b> {{ training.training_type }} &nbsp &nbsp {{ training.duration }} &nbsp &nbsp {{ training.training_mode }}</p>
              <p class="list"><i></i> <b>Teacher's Biographie:</b> {{ training.teacher_bio|truncatewords:'50' }}</p>
              <p class="list"><i></i> <b>Training Description:</b>  {{ training.description|truncatewords:'50' }}</p>
              <p>  <small class="text-muted"><i><b>Start Date: </b></i>{{ training.start_date|date }}  </small> 
                <small class="text-muted"><i><b>To:</b> </i>{{ training.end_date|date }}  </small><br/>
                <small class="text-muted"><i><b>Start Time:</b> </i>{{ training.start_time|time }}  </small>
                <small class="text-muted"><i><b>To:</b> </i>{{ training.end_time|time }}  </small>
            </p>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="card-body card-3  ">
          <p class="white"> No Training on the the trainings calendar for the time being</p>
        </div>
        {% endif %}
   </div>
   <div>

    {% if user.is_authenticated %}
    <p> <button class="btn btnfont btnbg mb-1 mx-2" onclick="location.href='{% url 'trainings:training-list' %}'"> <span class="about"><i class="fa-solid fa-book-open"></i> Check Our Trainings Schedule </span> </button>      
     {% else%}
   <button type="button" class="btn btnfont btnbg mx-2" onclick="location.href='{% url 'accounts:login' %}'"><span class="about"><i class="fa-solid fa-book-open"></i> Check Our Trainings Schedule</span>  </button></p>   
   {% endif%} 
       
     </div>
      </div>
   </div>
    </div>
  </section>

  <section style="width:100%" class="section_color2 py-3 rounded">
    <div class="container-fluid">
      <h4 style="align-center" class="text-white"> Farming Technical Forms </h4>
      <div class="row">
        {% if fiches %}
        {% for fiche in fiches %} 
        <div class="col-md-6 my-2">
          <div class="card mb-4 box-shadow">
            <div class="card-body card-3 ">
              <img src="{{ fiche.fiche_avatar.url}}" alt="testing"  class="img-responsive img-fluid rounded-start my-3" style="width: 80%; height: 150px;">
              <h5>{{fiche.name}}</h5>
              <p class="list blog"> {{ fiche.category }} </p>
              <p class=" list blog">{{ fiche.description|truncatewords:'50'|safe }}</p>
              <p>  <small class="text-muted"><i>Date created: </i>{{ fiche.created_on|date }}</small></p>
            </div>
          </div>
        </div>
    {% endfor %}

    {% else %}
    <div class="card-body card-3  ">
      <p class="white"> No blogs available at this time, please check back later</p>
    </div>
    {% endif %}

   </div>
   <div>

    {% if user.is_authenticated %}
    <p> <button class="btn btnfont btnbg mb-1" onclick="location.href='{% url 'fiches:fiche-list' %}'"> <span class="about"><i class="fa-solid fa-blog mx-3"></i>Read More </span> </button>      
     {% else%}
   <button type="button" class="btn btnfont btnbg mx-2" onclick="location.href='{% url 'accounts:login' %}'"><span class="about"><i class="fa-solid fa-magnifying-glass"></i> Read More</span>  </button></p>   
   {% endif%} 

     </div>
      </div>
   </div>
    </div>
  </section>

  <section class=" py-3">
    <div class="card bg-dark text-white" style="width:100% height:250">
      <img src="{% static 'images/soybeans_green.jpeg' %}" class="card-img" alt="Soybeans"/>
      <div class="card-img-overlay text-center">
        <h2 class="card-title">Site Statistics:</h2>
        <span class="about2"><h3 class=""><b>{{experts_count}}</b></h3></br><p class=""> Experts Registered  </P></span>

          <span class="about2"><h3 class="">{{companies_count}}</h3></br><p class=""> Registered Companies  </P></span>
        
            <span class="about2"><h3 class=""><b>{{deals_count}}</b></h3></br><p class="">Services Deals Announcements  </P></span>
              <span class="about2"><h3 class=""><b>{{product_deals_count}}</b></h3><p class="">Products Deals Announcements  </P> </span>
        
      </div>
    </div>
  </div>
  
  </section>


<script>
  let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slides[slideIndex-1].style.display = "block";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>

{% include 'footer.html' %} 

{% endblock content%}

</body>