{% extends "base.html" %}

{% block title%}

{% endblock title%}

{% block content %}

{% load crispy_forms_tags %}

{% load bootstrap5 %}

{% load static %}

<head>
      <!--link rel="stylesheet" href="{% static 'css/style_main.css' %}"-->
      <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>

<!--need tghe below code-->
<div class="container">
    <div class="row my-5">
        <div class="form-group col-md-2">
        </div>
        <div class="form-group col-md-8">
            <h2 class="text-center"><span class="about">Resert your password</span></h2>
            <br>
            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button type="submit" class="btn btnfont btnbg">Submit</button>
                {% endbuttons %}
                <div class="text-center">
                    <br>
                    <p><span class="about"><i class="fa-solid fa-lock"></i></span><a href="{% url 'accounts:password_reset' %}">  Click here to reset your password</a><p>
                    
                    
                   <p style="text-center"> <button type="button" class="btn btnfont btnbg my-5" onclick="location.href='{% url 'accounts:signup' %}'"><span class="about"><i class="fa-sharp fa-solid fa-users"></i> </span> Become Member Of Our Wonderful Team</button></p>

                </div>
                <div id="btn" class="text-center">
                    <button type="button" class="btn btn-primary btn-circle btn-sm"><i class="fa fa-facebook"></i></button>
                    <button type="button" class="btn btn-danger btn-circle btn-sm"><i class="fa fa-google"></i></button>
                    <button type="button" class="btn btn-info btn-circle btn-sm"><i class="fa fa-twitter"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}