{% extends "base.html" %}

{% block title%}

{% endblock title%}

{% block content %}

{% load crispy_forms_tags %}

{% load bootstrap5 %}

{% load static %}

<head>
      <!--link rel="stylesheet" href="{% static 'css/style_main.css' %}"-->
      <!--link rel="stylesheet" href="{% static 'css/login.css' %}"-->
    </head>

<!--need tghe below code-->
<section style="width:100%" class="py-5">
    <div class="container-fluid my-3" >
            <h2 class="text-center"><span class="" style="color:#0A2647; font-style: bold">Change your password</span></h2>


            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-dark my-2" onclick="location.href='{% url 'accounts:login' %}'">Cancel</button> 
                {% endbuttons %}
                <div class="text-center">
                    <br>
                   
                    
                   <p style="text-center"> <button type="button" class="btn btn-primary" onclick="location.href='{% url 'accounts:signup' %}'"><span class="about"><i class="fa-sharp fa-solid fa-users"></i> </span> Become Member Of Our Wonderful Network</button></p>

                </div>
               
            </form>
</div>
</section>

{% include 'footer.html' %}

{% endblock content %}