
<div class="hero">
    {% extends "base.html" %}
    
    {% block title%}
    
    {% endblock title%}
    
    {% block content %}
    
    {% load crispy_forms_tags %}
    
    {% load bootstrap5 %}
    {% load static%}
    
    <!--link rel="stylesheet" href="{% static 'css/style_main.css' %}"-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <div class="container py-5"  >
        <div>
           <h2 class="white text-center my-5" style=""><span class="about"> <i class="fa-solid fa-registered"></i></span> <span>Become One of Us Today</span> </h2>
        </div>
      

                <form method="post" class="form white">
                    {% csrf_token %}
    
                    {% bootstrap_form form %}
                    
                    <button type="submit" class="btn btnfont btnbg">Submit</button>
                   
                </form>
                
        </div>
    </div>
    

        {% endblock %}
    
    </div>