{% extends "base.html" %}

{% block title%}

{% endblock title%}

{% block content %}

{% load crispy_forms_tags %}

{% load bootstrap5 %}
<section class="text-gray-600 body-font relative">
   
  </section>
  <section class="text-gray-600 mx-2">
<div class="container">
    <div class="row my-5">
        <div class="col-md-6">
          <h2 class="white text-center"> <span>Leave Us a Message</span></h2>
          <form method="post" class="form white">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btnfont btnbg mx-2">Submit</button>
            {% endbuttons %}
        </form>
        </div>
        <div class="col-md-6">
          <h2 class="white text-center "> <span>Use the Below contact Information</span></h2>
          
          <h4 class="white text-center mx-4 my-4">New York - USA</h1>
          <br>
          <p class="white text-center">
              Address - 13473 Bedell Street <br><br>
                         Springfileds Gardens <br><br>
                        NY 11434 <br><br>
                        <span><i class="fa-solid fa-phone-volume"></i> </span>  +1 929-391-6710 <br>
          </p>
          <hr>
          <h4 class="white text-center my-4" >TOGO / AFRICA</h1>
          <br>
          <p class="white text-center">
              Address - Adetikope  <br><br/>
                         PIA <br><br/>
                        
            <span><i class="fa-solid fa-phone-volume"></i> </span>  +228 9001 0000 <br>
          </p>
          <br/>
         

         
      </div>
    </div>
</div>
</section>
{% include 'footer.html' %} 

    {% endblock %}