{% extends "base.html" %}


{% block title %} Delete this Industry? {% endblock title %}


{% block content %}
         <section class="py-5">       
    <form method="post">
        
        {% csrf_token %} 
        <fieldset class="form-group white">
            <div style="color:#ea2088; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">Delete a name from the technical Form?</div> <br>
            <h2>Are you sure you want to delete "{{ object.name }}"?</h2></br>
        </fieldset>

        <div class="form-group white">  
            <button type="submit" class="btn btn-danger">Yes, Delete</button>
            <a href="{% url 'fiches:fiche-list' %}" class="btn btn-dark">Cancel</a>
        </div>
        
    </form>
</section>

{% endblock content %}