<head>
  <style>

.read  {
  color: #0a2647;
}
li  {
  color: #0a2647;
}
  </style>
  <hr>
  <ul>
    {% for forms in user.ficheread_set.all %}
     <p> <li>
        <a href="{% url 'fiches:fiche-detail' forms.fiche_read.slug %}" class="read">
          {{ forms.fiche_read.name }} - {{ forms.fiche_read.category }}
        </a>
         - {{ forms.timestamp|date:"F j, Y, g:i" }}
      </li></p>
    {% empty %}
      <li>No Deal announcements have been marked as read.</li>
  {% endfor %}
    
</ul>
</section>
