{% extends "base_content.html" %}

{% block content %}
<section class="white py-3">
  <h3>My Reading History</h3>
  <hr>
  <ol>
    {% for forms in user.ficheread_set.all %}
     <p> <li>
        <a href="{% url 'fiches:fiche-detail' forms.fiche_read.slug %}">
          {{ forms.fiche_read.name }} - {{ forms.fiche_read.category }}
        </a>
         - {{ forms.timestamp|date:"F j, Y, g:i a" }}-
      </li></p>
    {% empty %}
      <li>No Deal announcements have been marked as read.</li>
  {% endfor %}
    
</ol>
</section>
{% endblock %}