{% extends "base.html" %}

{% block content %}
<section class=" py-5">
    <div class="container-fluid col-container my-2">
        <div class="row">
           <div  class="col-md-2 col">
           </div>
    <div class="col-md-8 col">
   <p><a href="{% url 'fiches:fiche-list' %}">Technical Fiches List</a></p> 
   <img src="{{ fiches.fiche_avatar.url}}" alt="testing"  class="img-responsive img-fluid rounded-end rounded rounded_start my-3" style="width: 100%; height: 250px;">
             
    <h1 class="white">{{fiches.name}} details:</h1><br/>
    <p class="white"><b>Category:</b> {{fiches.category}}<br/>
    <b>Expertise Level:</b> {{fiches.Expertise_level}}</br></br>
    <b>Description:</b> </br>{{fiches.description}}<br/><br/>
    <b>Principal Risk Fcators:</b> </br> {{fiches.principal_risks}}<br/><br/>
    <b>Technical Factors:</b> </br> {{fiches.Technical_factors}}<br/><br/>
    <b>Harvest factors:</b></br> {{fiches.harvest_factors}}<br/><br/>
    <b>Marketing Factor:</b></br> {{fiches.marketing_factor}}<br/><br/>
    <b>Industrialization Factors to Consider:</b></br> {{fiches.industrialization_factors}}<br/><br>
    <b>Other Factors:</b></br> {{fiches.other_factors}}<br/><br/>
    <small><b>Prepared On Factors:</b> {{fiches.created_on |date}}<br/><br/></small>

    <hr />
    {% if user.is_expert %}
    <button type="button" class="btn btn-dark" onclick="location.href='{% url 'fiches:fiche-list' %}'">Cancel</button>

    <button type="button" class="btn btn-secondary" onclick="location.href='{% url 'fiches:pdf' fiches.pk %}'">Save the form content</button>

    {% else %}
    <button type="button" class="btn btn-secondary" onclick="location.href='{% url 'fiches:fiche-update' fiches.pk %}'">Edit Content</button>
    <button type="button" class="btn btn-secondary" onclick="location.href='{% url 'fiches:pdf' fiches.pk %}'">Save the form content</button>
    <button type="button" class="btn btn-danger" onclick="location.href='{% url 'fiches:fiche-delete' fiches.pk %}'">Delete</button>
    <button type="button" class="btn btn-dark" onclick="location.href='{% url 'fiches:fiche-list' %}'">Cancel</button>


{% endif  %} 

</p>
</div></div>


</section>
{% include 'footer.html' %} 
{% endblock %}