{% extends "base_content.html" %}
{% block title %}


{% endblock title%}

{% block content %}
<section class="py-5">
<div class= class="list white">
 
  <form class="d-flex" role="search" action='/search/' method='GET' enctype="">
      <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <hr class="border-primary border-3 opacity-75">
  </div>
  <br>
  <div class="container white">
    <div class="row my-5">
    <div class="col-md-2 white">
  <button type="button" class="btn btn-outline-secondary white" onclick="location.href='{% url 'projects:project-create' %}'">Enter a new project</button> 
 </div>
 <div class="col-md-2">
  <button type="button" class="btn btn-outline-secondary white" onclick="location.href='{% url 'projects:project-notreviewed' %}'">Pending for review</button>
</div>
<div class="col-md-2">
  <button type="button" class="btn btn-outline-secondary" onclick="location.href='{% url 'projects:project-reviewed' %}'">Pending for approval</button>
</div>
<div class="col-md-2">
  <button type="button" class="btn btn-outline-secondary" onclick="location.href='{% url 'projects:project-approved' %}'">Approved projects</button>
</div>
<div class="col-md-2">
  <button type="button" class="btn btn-outline-secondary" onclick="location.href='{% url 'projects:project-rejected' %}'">Rejected projects</button>
</div>
<div class="col-md-2">
  <button type="button" class="btn btn-outline-secondary" onclick="location.href='{% url 'projects:project-list' %}'">All projects</button>
</div>
</div>
</div>
<form method="GET">
  <div class="row">
    <div class="col-2 col-md-2 ">
<p>Project Category </br>
{{ filter.form.project_category}}</p>
</div>
<div class="col-2 col-md-2 ">
<p>Company Name </br>
  {{ filter.form.company_name}}</p>
</div>
<div class="col-2 col-md-2  ">
<p>Reviewed Projects </br>
  {{ filter.form.reviewed}}</p>
</div>
<div class="col-2 col-md-2 ">
<p>Approved Projects </br>
{{ filter.form.approved}}</p>
</div>
<div class="col-2 col-md-2 align-self-end ">
<p>Approver </br>
  {{ filter.form.approved_by}}</p>
  </div>

<div class="col-2 col-md-2 align-self-center"><button type ="summit" class="btn btn-outline-success">Apply Filters </button>
          </div>
        </div>
</form>
  <table class="table table-striped table-hover white">
    <thead>
      <tr>
        <th scope="col white">Project ID</th>
        <th scope="col white">Project Name  {{ filter.form.project_name}}</th>
        <th scope="col">Review status</th>
        <th scope="col">Approved status</th>
        <th scope="col">Reviewer</th>
        <th scope="col">Approver</th>
        <th scope="col">Project description</th>
        <th scope="col">Create on</th>
       
      </tr>
    </thead>
    <tbody>
      
      {% for project in filter.qs %}
          <tr>
              <td class="align-middle"><a href="{% url 'projects:project-detail' project.pk %}">{{project.id}}</a></td>
              <td class="align-middle">{{project.project_name}}</td>
              <td class="align-middle">{{project.reviewed}}</td>
              <td class="align-middle">{{project.approved}}</td>
              <td class="align-middle">{{project.reviewed_by}}</td>
              <td class="align-middle">{{project.approved_by}}</td>
              <td class="align-middle">{{project.project_description}}</td>
              <td class="align-middle">{{project.created_on|date}}</td>
              
          </tr>
      {% endfor %}
  
    </tbody>
  </table>

  <div>
    {% block pagination %}
      {% if is_paginated %}

      <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
          <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous </a></li>
          {% endif %}
          <span class="page-current">
            <li class="page-item"><a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
        </span>
        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
        </ul>
      </nav>
      {% endif %}
      {% endblock %}
        </div>
      </section>
{% endblock content %}