{% extends "base.html" %}

{% block content %}
   <p class="white"><a href="{% url 'enterprises:enterprise-list' %}">List of companies</a></p> 
    <h3 class="white">{{enterprises.company_name}} details:</h3>
<p class="white">Contact name: {{enterprises.first_name}} {{enterprises.last_name}}
        <br/><br/>Contact email: {{enterprises.email}}  Contact Telephone: {{enterprises.phone_code}} {{enterprises.phone_number}}
        <br/><br/>Company type: {{enterprises.company_type}} 
        <br/><br/>Company industry: {{enterprises.industry}}
        <br/><br/>Company country: {{enterprises.company_country}}
        <br/><br/>Company email: {{enterprises.company_email}}
        <br/><br/>partenership:  {% if enterprises.commercial %} Commercial, {% endif %}
                                {% if enterprises.financial %} Financial,  {% endif %}
                                {% if enterprises.technical %} Technical, {% endif %}
                                {% if enterprises.management %} Managerial <br/> {% endif %}
        
    </p>
    
<hr />
<button type="button" class="btn btn-secondary" onclick="location.href='{% url 'enterprises:enterprise-update' enterprises.slug %}'">Update</button>
<button type="button" class="btn btn-danger" onclick="location.href='{% url 'enterprises:enterprise-delete' enterprises.slug %}'">Delete</button>
<button type="button" class="btn btn-dark" onclick="location.href='{% url 'enterprises:enterprise-list' %}'">Cancel</button>


{% endblock %}