{% extends "base.html" %}


{% block title %} Delete this Industry? {% endblock title %}


{% block content %}
                
    <form method="post">
        
        {% csrf_token %}
        
        <fieldset class="form-group">
            <div style="color:#ea2088; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">Delete Industry form industries list</div> <br>
            <h2>Are you sure you want to delete "{{ object.company_name }}"?</h2>
        </fieldset>

        <div class="form-group">  
            <button type="submit" class="btn btn-danger mx-2" >Yes, Delete</button>
            <button type="button" class="btn btn-dark" onclick="location.href='{% url 'enterprises:enterprise-list' %}'">Cancel</button>
        </div>
        
    </form>

{% endblock content %}