{% extends "base_content.html" %}

{% block title%}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock title%}

{% block content %}
{% load widget_tweaks %}


{% load crispy_forms_tags %}

{% load bootstrap5 %}
<head>
  <style>
    .line-spacing-1-5 {
        line-height: 2.0;
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
</style>
</head>

<section style="width:100%" class="section_color1 py-3 rounded line-spacing-1-5">
<div class="container white">
    <p><a href="{% url 'enterprises:enterprise-list' %}">Enterprises</a></p> 
    <form method="post" id="enterpriseForm" data-sectors-url="{% url 'enterprises:ajax-load-sectors' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="" class="btn btn-dark"> <a href="{% url 'enterprises:enterprise-list' %}">Back To Companies List</a></button>
        
        {% endbuttons %}
       
    </form>
</div> 
</section>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_industry").change(function () {
      var url = $("#enterpriseForm").attr("data-sectors-url");  // get the url of the `load_cities` view
      var industryId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'industry': industryId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_sector").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>


{% endblock %}