<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

  
</head>
<body>
<footer class="text-gray-600 body-font">
  <div class="container footer">
    <div class="row my-5">
      <hr/>
        <div class="col-md-4 white"> <ul>
          <li>link1 </li>
          <li>link2 </li>
          <li>link3 </li>
        </ul>
        </div>
        <div class="col-md-4 white">
          <ul>
            <li>link1 </li>
            <li>link2 </li>
            <li>link3 </li>
          </ul>
        </div>
        <div class="col-md-4 white">
           <ul>
          <li>link1 </li>
          <li>link2 </li>
          <li>link3 </li>
        </div>


        <div id="btn" class="text-center">
          <button type="button" class="btn btn-primary btn-circle btn-sm"><span class="about"><i class="fa-brands fa-square-facebook"></i></span></button>
          <button type="button" class="btn btn-danger btn-circle btn-sm"><span class="about"><i class="fa-brands fa-google"></i></span></button>
          <button type="button" class="btn btn-info btn-circle btn-sm"><span class="about"><i class="fa-brands fa-twitter"></i></span></button>
          </div>
       
        
       </div>
       <div>
<hr/>
        <br>
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-8">
              <div style="color:#ffffff;" class="wow fadeInUp footer-copyright">
                <p>Made in TOGO <br>
                  Copyright &copy; 2023 Tawassi Group Consultancy Services Inc. </p>
                  <hr>
              </div>
            </div>
          </div>
        </div>
  </footer>
</body>