{% load static %}

{% url 'accounts:home-page' as path_to_home_page %}
{% url 'accounts:home' as path_to_home %}
{% url 'accounts:login' as path_to_login %}
{% url 'accounts:about-us' as path_to_about_us %}
{% url 'contacts:contact-create' as path_to_contact %}
{% url 'accounts:signup' as path_to_signup %}
{% url 'accounts:package' as path_to_packages %}

{% url 'profiles:user-profile' as path_to_my_profile %}
{% url 'profiles:expert-profile-detail' as path_to_expert_profile %}
{% url 'profiles:company-profile' as path_to_company_profile %}
{% url 'profiles:employee-profile' as path_to_employee_profile %}
{% url 'profiles:admin-profile' as path_to_admin_profile %}

{% url 'employees:employee-create' as path_to_emp_create %}
{% url 'blogs:blog-list' as path_to_blog_list %}
{% url 'blogs:blog-create' as path_to_blog_create %}
{% url 'jobs:job-list' as path_to_job_listing %}
{% url 'jobs:job-create' as path_to_job_create %}
{% url 'applications:application-list' as path_to_app_listings %}
{% url 'jobs:application-create' as path_to_app_create %}
{% url 'deals:deal-list' as path_to_service_deals %}
<!--link rel="stylesheet" href="{% static 'style_main.css' %}"-->

{% if user.is_authenticated %}
{% if user.is_admin %}
<!--nav class="navbar navbar-expand-lg navbar-light admin fixed-top"-->


  <nav class="navbar navbar-expand-lg navbar-light employee fixed-top">
    
  <div class="navtop container-fluid" style="align-right">
    
    <a class="navbar-brand" href="{% url 'accounts:home-page'%}" ><img src="{% static "/images/logo.png" %}" style="width:100; height:100"></a>
    <!--h2 class="logo">Net<span>working</span></h2-->
    <h2 class="logo">Networking</h2>
 
  <div > 
  <div class="collapse navbar-collapse" id="navbarNav">
      
    <ul class="navbar-nav admin">
  <li class="nav-item"><a class="nav-link {% if request.path == path_to_home_page %}active{% endif %}" href="{{path_to_home_page}}">Home</a></li>
  
  <li class="nav-item"><a class="nav-link {% if request.path == path_to_emp_create %}active{% endif %}" href="{{path_to_emp_create}}">Employee Profile</a></li>
  <li class="nav-item"><a class="nav-link {% if request.path == path_to_job_create %}active{% endif %}" href="{{path_to_job_create}}">Post New Job</a></li>
  <li class="nav-item"><a class="nav-link {% if request.path == path_to_job_listing %}active{% endif %}" href="{{path_to_job_listing}}">Job Listing</a></li>
  <li class="nav-item"><a class="nav-link {% if request.path == path_to_app_listing %}active{% endif %}" href="{{path_to_blog_create}}"> Write a Blog</a></li>
  <li class="nav-item"><a class="nav-link {% if request.path == path_to_app_create %}active{% endif %}" href="{{path_to_app_create}}"></a></li>

</ul>

  </div>
  </div>
  <div class="nav-item dropdown">
    <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <!--img src="{{request.user.profile.avatar.url}}" class="avatar-sm">&nbsp;{{request.user}}-->
      More
    </div>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <li><a class="nav-link {% if request.path == path_to_contact%}active{% endif %}" href="{{path_to_contact}}">contact Us</a></li>

      <li><a class="nav-link {% if request.path == path_to_about_us%}active{% endif %}" href="{{path_to_about_us}}">Who We Are</a></li>
    </ul>
  </div>
  
    <div class="nav-item dropdown">
      <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{{request.user.profile.avatar.url}}" class="avatar-sm">&nbsp;{{request.user}}
      </div>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="nav-link {% if request.path == path_to_admin_profile%}active{% endif %}" href="{{path_to_admin_profile}}">Profile</a></li>
        <li><a class="dropdown-item nav-link" href="{% url 'accounts:login' %}">Logout</a></li>
      </ul>
    </div>

</div>

</nav>

{% elif user.is_employee %}
<nav class="navbar navbar-expand-lg navbar-light employee fixed-top">
  <div class="navtop container-fluid" style="align-left">
    
    <a class="navbar-brand" href="{% url 'accounts:home-page' %}" ><img src="{% static "/images/logo.png" %}" style="width:100%; height:10%"></a>
    <h2 class="logo">Net<span>working</span></h2>
 
  <div > 
  <div class="collapse navbar-collapse" id="navbarNav">
      
    <ul class="navbar-nav">
  <li class="nav-item"><a class="nav-link {% if request.path == path_to_home_page %}active{% endif %}" href="{{path_to_home_page}}">Home</a></li>
  
  <li class="nav-item"><a class="nav-link {% if request.path == path_to_emp_create %}active{% endif %}" href="{{path_to_emp_create}}">Employee Profile</a></li>
  <li class="nav-item"><a class="nav-link {% if request.path == path_to_job_create %}active{% endif %}" href="{{path_to_job_create}}">Post New Job</a></li>
  <li class="nav-item"><a class="nav-link {% if request.path == path_to_job_listing %}active{% endif %}" href="{{path_to_job_listing}}">Job Listing</a></li>
  
  <li class="nav-item"><a class="nav-link {% if request.path == path_to_app_create %}active{% endif %}" href="{{path_to_app_create}}"></a></li>
</ul>

  </div>
  </div>
  <div class="nav-item dropdown">
    <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <!--img src="{{request.user.profile.avatar.url}}" class="avatar-sm">&nbsp;{{request.user}}-->
      More
    </div>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <li><a class="nav-link {% if request.path == path_to_contact%}active{% endif %}" href="{{path_to_contact}}">contact Us</a></li>
      <li><a class="nav-link {% if request.path == path_to_about_us%}active{% endif %}" href="{{path_to_about_us}}">Who We Are</a></li>
    </ul>
  </div>
  
    <div class="nav-item dropdown">
      <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{{request.user.profile.avatar.url}}" class="avatar-sm">&nbsp;{{request.user}}
      </div>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="nav-link {% if request.path == path_to_employee_profile%}active{% endif %}" href="{{path_to_employee_profile}}">Profile</a></li>
        <li><a class="dropdown-item" href="{% url 'accounts:login' %}">Logout</a></li>
      </ul>
    </div>

</div>

</nav>

{% elif user.is_expert %}

<!-- Here end the new -->
<nav class="navbar navbar-expand-lg navbar-light employee fixed-top">
  <div class="navtop container-fluid" style="align-left">
    
    <a class="navbar-brand" href="{% url 'accounts:home-page' %}" ><img src="{% static "/images/logo.png" %}" style="width:100%; height:10%"></a>
    <h2 class="logo"><b>Networking</b></h2>
 
  <div > 
  <div class="collapse navbar-collapse nav-link nav-item" id="navbarNav">
      
    <ul class="navbar-nav">
  <li class="nav-item"><a class="nav-link {% if request.path == path_to_home_page %}active{% endif %}" href="{{path_to_home_page}}">Home</a></li>
  
  
  
  <li class="nav-item"><a class="nav-link {% if request.path == path_to_job_listing %}active{% endif %}" href="{{path_to_job_listing}}">Job Listing</a></li>
  <li class="nav-item"><a class="nav-link {% if request.path == path_to_packages %}active{% endif %}" href="{{path_to_packages}}"> Service Packages</a></li>
  <li class="nav-item"><a class="nav-link {% if request.path == path_to_blog_list %}active{% endif %}" href="{{path_to_blog_list}}"> Read Blogs</a></li>
  <li class="nav-item"><a class="nav-link {% if request.path == path_to_service_deals %}active{% endif %}" href="{{path_to_service_deals}}">Service Deals</a></li>

</ul>

  </div>
  </div>
  <div class="nav-item dropdown">
    <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <!--img src="{{request.user.profile.avatar.url}}" class="avatar-sm">&nbsp;{{request.user}}-->
      More
    </div>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <li><a class="nav-link {% if request.path == path_to_contact%}active{% endif %}" href="{{path_to_contact}}">contact Us</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="nav-link {% if request.path == path_to_about_us%}active{% endif %}" href="{{path_to_about_us}}">Who We Are</a></li>
    </ul>
  </div>
  
    <div class="nav-item dropdown">
      <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{{request.user.profile.avatar.url}}" class="avatar-sm">&nbsp;{{request.user}}
      </div>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="nav-link {% if request.path == path_to_expert_profile %}active{% endif %}" href="{{path_to_expert_profile}}">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="nav-link" href="{% url 'accounts:login' %}">Logout</a></li>
      </ul>
    </div>

</div>

</nav>

{% endif %}

{% else %}
<nav class="navbar navbar-expand-lg navbar-light no-member fixed-top">
  <div class="navtop container-fluid" style="align-left">
    
    <a class="navbar-brand" href=""><img src="{% static "/images/logo.png" %}" style="width:100%; height:10%"></a>
   
   <!-- <h2 class="logo">Net<span>working</span></h2> -->
 
  <div > 
  <div class="collapse navbar-collapse no-member " id="navbarNav">
      
    <ul class="navbar-nav no-member">
  <li class="nav-item"><a class="nav-link {% if request.path == path_to_home_page %}active{% endif %}" href="{{path_to_home_page}}">Home</a></li>
  <li class="nav-item"><a class="nav-link {% if request.path == path_to_login %}active{% endif %}" href="{{path_to_login}}">Login</a></li>
  <li class="nav-item"><a class="nav-link {% if request.path == path_to_signup %}active{% endif %}" href="{{path_to_signup}}">Join Us</a></li>
  <li class="nav-item"><a class="nav-link {% if request.path == path_to_job_listing %}active{% endif %}" href="{{path_to_job_listing}}">Job Listing</a></li>
  <li class="nav-item"><a class="nav-link {% if request.path == path_to_packages %}active{% endif %}" href="{{path_to_packages}}"></a></li>
  <li><a class="nav-link {% if request.path == path_to_contact%}active{% endif %}" href="{{path_to_contact}}">contact Us</a></li>
  <li><a class="nav-link {% if request.path == path_to_about_us%}active{% endif %}" href="{{path_to_about_us}}">Who We Are</a></li>
</ul>

  </div>
  </div>
  
</nav>


{% endif %}

