{% extends "base_content.html" %}
{% block title %}

{% load static %}

{% endblock title%}

{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'css/card_hover.css' %}">
</head>
<section class="search-colum">
  <div class="p-3 mb-2 bg-info text-blue search-column" >
    <h2 class="text-4xl text-gray800"></h2>
    <form class="d-flex" role="search" action="{% url 'trainings:training-search' %}" method='GET' enctype="">
        <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
      <hr class="border-primary border-3 opacity-75">
    </div>
</section>
    <section>
    <div class="container">
      <div class="row">
        {% if trainings %}
        {% for training in trainings %}
        <div class="col-md-6">
          <div class="card mb-4 box-shadow">
            
            <!--img src="{% static 'images/user-solid.svg' %}" style="width:10 height=10"-->
            <!--img class="card-img-top" src="{% static 'images/technic.jpeg' %}" alt="{{ consultant.user }}"-->
            <div class="card-body card-3">
            <p class="list"><i><b>Training Title:</b></i> {{ training.training_title}} &nbsp &nbsp <b><i>Category of Training:</i></b> {{ training.domain}}</p>
              <p class="list"><i><b>Teacher:</b></i> {{ training.teacher }} &nbsp&nbsp <b><i>Teacher Email: </i></b> {{ training.email }}</p>
              <!--p class="list"><span class="about"><i class="fa-sharp fa-solid fa-at"></i> {{ training.email }} </p-->
              <p class="list"><span class="about"> </span><b>Training Type:</b> {{ training.training_type }} &nbsp &nbsp {{ training.duration }} &nbsp &nbsp {{ training.training_mode }}</p>
              <p class="list"><i></i> <b>Teacher's Biographie:</b> {{ training.teacher_bio|truncatewords:'50' }}</p>
              <p class="list"><i></i> <b>Training Description:</b>  {{ training.description|truncatewords:'50' }}</p>
              <p class="list"><i></i> <b>Training Cost ($):</b>  {{ training.cost }}

              <br/><br/><b>Training Days:</b>  {% if training.monday %} Monday, {% endif %}
              {% if training.tuesday %} Tuesday,  {% endif %}
              {% if training.wednesday %} Wednesday, {% endif %}
              {% if training.thursday %} Thursday,  {% endif %}
              {% if training.friday %} Friday,  {% endif %}
              {% if training.saturday %} Saturday,  {% endif %}

              <p>  <small class="text-muted"><i><b>Start Date: </b></i>{{ training.start_date|date }}  </small> 
                <small class="text-muted"><i><b>To:</b> </i>{{ training.end_date|date }}  </small><br/>
                <small class="text-muted"><i><b>Start Time:</b> </i>{{ training.start_time|time }}  </small>
                <small class="text-muted"><i><b>To:</b> </i>{{ training.end_time|time }}  </small>
            </p>
            <p>
              {%if user.is_admin %}
                <button type="button" class="btn btn-secondary mx-2" onclick="location.href='{% url 'trainings:training-detail' training.pk %}'"><i class="fa-sharp fa-solid fa-pen-to-square"></i> More Info</button>
                <button type="button" class="btn btn-secondary mx-2" onclick="location.href='{% url 'trainings:training-update' training.pk %}'"><i class="fa-sharp fa-solid fa-pen-to-square"></i> Update</button>
                {% elif user.is_authenticated%}
                <button type="button" class="btn btn-secondary mx-2" onclick="location.href='{% url 'trainings:training-detail' training.pk %}'"><i class="fa-sharp fa-solid fa-pen-to-square"></i> More Info</button>
            <button type="button" class="btn btn-primary" onclick="location.href='{% url 'trainings:application-create' training.pk %}'">Apply</button>
            {% else %}
            <!-- non member application -->
            <button type="button" class="btn btn-secondary mx-2" onclick="location.href='{% url 'trainings:training-detail' training.pk %}'"><i class="fa-sharp fa-solid fa-pen-to-square"></i> More Info</button>
            <button type="button" class="btn btn-primary" onclick="location.href='{% url 'trainings:non-member-create' training.pk %}'">Apply Non Member</button></p>
            {% endif%}
        </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <!--- {% if training.teacher == request.user %} -->
                    <!--{% endif %} -->
               </div>
                </div>
            </div>
          </div>
        </div>
        {% endfor %}

        {% else %}
        <p> No blogs available for the time being</p>
        {% endif %}
   </div>
    </div>
  </section>


    {% block pagination %}
      {% if is_paginated %}

      <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
          <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous </a></li>
          {% endif %}
          <span class="page-current">
            <li class="page-item"><a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
        </span>
        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
        </ul>
      </nav>
      {% endif %}
      {% endblock %}
        </div>

     

{% endblock content %}