{% extends 'base_content.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
    
</head>
<body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check" viewBox="0 0 16 16">
          <title>Check</title>
          <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
        </symbol>
      </svg>
    <section class="py3">
    <div class="container-fluid">
        <h2>Our Products</h2>
        <div class="row">
            {% for product in products %}
            <div class="col-md-4 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title white">{{ product.name }}</h5>
                        <p class="card-text white">{{ product.description }}</p>
                        <p class="card-text white"><strong>Monthly Price:</strong> ${{ product.monthly_price|floatformat:2 }}</p>
                        <p class="card-text white"><strong>Yearly Price:</strong> ${{ product.yearly_price|floatformat:2 }}</p>
                        
                        <a href="{{ product.monthly_link }}" class="btn btn-primary">Monthly </a>
                        <a href="{{ product.yearly_link }}" class="btn btn-primary">yearly </a>  
                        {% if user.is_admin%}
                        <a href="{% url 'products:product-update' product.id %}" class="btn btn-primary">Edit</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<section class="py-3">
    <h2 class="display-6 text-center mb-4 text-primary">Compare plans</h2>

    <div class="table-responsive content-panel">
      <table class="table text-center">
        <thead>
          <tr>
            <th style="width: 34%;" class="text-dark"></th>
            <th style="width: 22%;" class="text-dark">Basic Package</th>
            <th style="width: 22%;" class="text-dark">Diamonds Package</th>
            <th style="width: 22%;" class="text-dark">Gold Package</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-start text-dark">Read Posts</th>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start text-dark">Private Messaging</th>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <th scope="row" class="text-start text-dark">Read Announcements</th>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start text-dark">Read and Write Announcements</th>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start text-dark">Read and write Blogs</th>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start text-dark">Post Job Openings</th>
            <td></td>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start text-dark">Mutilple Users up to 5</th>
            <td></td>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>



{% endblock content %}