

---
layout: examples
title: Pricing example
extra_css:
  - "pricing.css"
include_js: false
---

{% extends "base.html" %}
{% load static %}
{% block title%}

{% endblock title%}

{% block content %}

{% load crispy_forms_tags %}

{% load bootstrap5 %}
<head>
  <link rel="stylesheet" href="{% static 'css/pricing.css' %}">
   <link rel="stylesheet" href="{% static 'js/pricing.js' %}">
   <style >
    .container {
      display: flex;
    }

    .column {
      flex: 1;

    }
    /* Add some spacing between the panels on smaller screens */
    @media (max-width: 768px) {
        .content-panel {
            margin-bottom: 20px;
        }
      }

  </style>
</head>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check" viewBox="0 0 16 16">
    <title>Check</title>
    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
  </symbol>
</svg>

<section class="py-3">
    <div class="">
      <h3 class="display-4 fw-normal text-primary">Services Pricing</h3>
      <p class="fs-5 text-muted">Our Services Plans</p>
    </div>

  <main>
    <div class="row">
      <div class="col content-panel">
        
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal text-primary">Basic Package</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4 text-dark">
              <li>1 user included</li>
              <li>Read Forum</li>
              <li>Update profile</li>
              <li>Read Announcement</li>
              <li>Read Blogs</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary" onclick="location.href='{% url 'products:product-list' %}'">Sign up for free</button>
          </div>
        
      </div>
      <div class="col content-panel">
        
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal text-primary">Diamond Package</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4 text-dark">
              <li>1 user included</li>
              <li>Read and write Forum abd blogs</li>
              <li>Update profile and contact</li>
              <li>Read and write Announcement</li>
              <li>Post Training and Job Opportunities</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary" onclick="location.href='{% url 'products:product-list' %}'">Get started</button>
          </div>
        
      </div>
      <div class="col content-panel">
       
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal text-primary">Gold Package</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$29<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4 text-dark">
              <li>5 users included</li>
              <li>Read and write blogs and Forum</li>
              <li>Read and write Announcement  </li>
              <li>Post Training and Job Opportunities</li>
              <li>Access Technical Forms</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary" onclick="location.href='{% url 'products:product-list' %}'">Contact us</button>
          </div>
      
      </div>
    </div>

    <h2 class="display-6 text-center mb-4 text-primary">Compare plans</h2>

    <div class="table-responsive content-panel">
      <table class="table text-center">
        <thead>
          <tr>
            <th style="width: 34%;" class="text-dark"></th>
            <th style="width: 22%;" class="text-dark">Basic Package</th>
            <th style="width: 22%;" class="text-dark">Diamonds Package</th>
            <th style="width: 22%;" class="text-dark">Gold Package</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-start text-dark">Read Posts</th>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start text-dark">Private Messaging</th>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <th scope="row" class="text-start text-dark">Read Announcements</th>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start text-dark">Read and Write Announcements</th>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start text-dark">Read and write Blogs</th>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start text-dark">Post Job Openings</th>
            <td></td>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start text-dark">Mutilple Users up to 5</th>
            <td></td>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</section>
{% endblock content %}